{% extends "quotes/base.html" %}

{% block content %}
<div>
    <h2>Случайная цитата</h2>
    
    {% if quote %}
        <div style="border: 1px solid #ccc; padding: 20px; margin: 20px;">
            <p>"{{ quote.text }}"</p>
            <footer>- {{ quote.source.title }}</footer>
        </div>
    {% else %}
        <div style="background: #f0f0f0; padding: 20px;">
            <h3>Цитат пока нет!</h3>
            <p>Добавьте первую цитату через админку</p>
            <a href="/admin/">Перейти в админку</a>
        </div>
    {% endif %}
</div>
{% endblock %}
